body {
	margin: 0;
	font-family: serif;
	color: black;
}
main {
  padding: 15px 20%;
}
h1 {
	font-family: 'Acme', Helvetica, sans-serif;
	font-size: 36px;
  margin-bottom: 15px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
	line-height: 1.4em;
}
a, a:visited {
	color: blue;
}
main li {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 15px;
}
#header {
	background-image: url('img/UNESCO.svg');
	background-repeat: no-repeat;
	background-position: center right 20%;
	background-size: 120px;
	background-color: peachpuff;
	padding: 15px 20%;
	font-family: 'Open Sans', sans-serif;
	color: rgb(13, 83, 116);
}
nav {
	border-bottom: 2px solid peachpuff;
  font-family: 'Poppins', sans-serif;
	text-align: center;
	padding: 15px 20%;
}
nav ul, nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
	font-size: 16px;
}
nav li:after {
	content: "";
	margin: 0 15px;
}
nav a {
  text-decoration: none;
}
nav a:visited {
  color: black;
}
nav li.actual {
  font-weight: bold;
  font-size: 17px;
}
.foto {
  width: 800px;
}
.foto img {
  width: 100%;
  height: auto;
}
.Lorca {
  width: 400px;
  float: right;
}
.Lorca img {
  width: 100%;
  height: auto;
}
.Morales {
  width: 250px;
  float: right;
}
.Morales img {
  width: 100%;
  height: auto;
}
dt {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
	line-height: 1.4em;
}
dd{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  padding-bottom: 15px;
}
form {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  border: 1px solid #333;
}
fieldset {
  display: block;
  border: none;
}
iframe {
  width: 560px;
  height: 315px;
  border: "0";
}

#footer {
	padding: 20px;
	text-align: center;
	border-top: 2px solid peachpuff;
}
#footer p {
	margin: 0;
	font-size: 16px;
}