body {
	margin: 0;
	font-family: serif;
	color: black;
}
main {
  padding: 15px 20%;
}
@font-face {
  font-display: swap;
}
h1 {
  font-family: 'Acme', Helvetica, sans-serif;
	font-size: 26px;
  margin-bottom: 15px;
}
h2 {
  font-family: Helvetica, sans-serif;
	font-size: 20px;
  margin-bottom: 15px;
}
h3 {
	font-family: 'Acme', Helvetica, sans-serif;
	font-size: 36px;
  margin-bottom: 15px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
	line-height: 1.4em;
}
a, a:visited {
	color: blue;
}
main li {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 15px;
}
#header {
	background-image: url('img/iconoUnesco.svg');
	background-repeat: no-repeat;
	background-position: center right 20%;
	background-size: 120px;
	background-color: peachpuff;
	padding: 15px 20%;
	font-family: 'Open Sans', sans-serif;
	color: rgb(13, 83, 116);
}
nav {
	border-bottom: 2px solid peachpuff;
  font-family: 'Poppins', sans-serif;
	text-align: center;
	padding: 15px 20%;
}
nav ul, nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
	font-size: 16px;
}
nav li:after {
	content: "";
	margin: 0 15px;
}
nav a {
  text-decoration: none;
}
nav a:visited {
  color: black;
}
nav li.actual {
  font-weight: bold;
  font-size: 17px;
}
.foto {
  width: 800px;
  max-width: 80%;
}
.foto img {
  width: 100%;
  height: auto;
}
.Lorca {
  width: 400px;
  float: right;
  max-width: 40%;
}
.Lorca img {
  width: 100%;
  height: auto;
}
.Lorcagif {
  float: left;
}
.gifLorca {
  width: 200px;
  max-height: 200px;
}
.Morales {
  width: 250px;
  float: right;
  max-width: 50%;
}
.Morales img {
  width: 100%;
  height: auto;
}
.Libro {
  max-width: 200px;
  float: right;
}
.Libro img {
  width: 100%;
  height: auto;
}
.redondo {
  width: 5vw;
  height: 5vh;
  -webkit-clip-path: ellipse(50% 50%);
  clip-path: ellipse(50% 50%);
  transition: width 0.5s ease-out;
}
.redondo:hover {
  width: 10vw;
  height: 10vh;
}
.listasinpuntos {
  list-style: none;
}
dt {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
	line-height: 1.4em;
}
dd{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  padding-bottom: 15px;
}
form {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  border: 1px solid #333;
}
fieldset {
  display: block;
  border: none;
}
iframe {
  width: 40vw;
  border: none;
}
#footer {
  padding: 20px;
  padding-top: 20px;
  margin-top: 20px;
	text-align: center;
  border-top: 2px solid peachpuff;
}
#footer p {
	margin: 0;
	font-size: 16px;
}
.fotoAlPie {
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  animation: 5s poly infinite alternate ease-in-out;
  margin: 1em auto;
  display: block;
  max-height: 10vh;
}
@keyframes poly {
  from {
      -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
      clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  }
  
  to {
    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  }
}